blockquote {
  background-color: color-gray(10);
  padding: spacer(3);
  border-left: spacer(2) solid color-gray(20);
  margin-bottom: spacer(3);

  & > *:last-child {
    margin-bottom: 0;
  }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Blockquotes
//
// markup:
// <blockquote>
//     <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque saepe laboriosam itaque possimus. Ducimus recusandae iste, ullam officiis odio, id rerum labore eligendi optio voluptatem perferendis corporis dignissimos ipsum odit!</p>
// </blockquote>
//
// Styleguide Atoms.Typography.blockquotes
