.kss-brand{
  text-align: center;
  
  p{
    color: color(primary);
    font-size: font-size(3);
    line-height: 1.1;
    margin-bottom: spacer(4);
  }

  img{
    height: auto;
    max-width: 100%;
  }
}