// ------------------------------
// Sass Variables
// ------------------------------
$font-size-prefix: --font-size-;
$font-sizes: (
  root: 16px,
  paragraph: 1rem,
  1: 2.8125rem,
  2: 2rem,
  3: 1.5rem,
  4: 1.25rem,
  5: 1.15rem,
  6: 1rem,
  button: 1rem
);

// ------------------------------
// Set font-size function
// ------------------------------
@function font-size($font-size, $true-val:false) {
  @if $use-css-var == true {
    @if $true-val == true {
      @return map-get($font-sizes, $font-size); // True Val
    } @else {
      @return var(#{$font-size-prefix}#{$font-size}); // CSS Var
    }
  } @else {
    @return map-get($font-sizes, $font-size); // Disabled CSS Var
  }
}
// ------------------------------
// Set root variables
// ------------------------------
@if $use-css-var == true {
  #{$root-default} {
    @each $name, $font-size in $font-sizes {
      #{$font-size-prefix}#{$name}: $font-size;
    }
  }
}