$nav-bp: bp(md);

.navigation{
  .burger{
    @include min($nav-bp){
      display: none;
    }
  }

  .navigation-items{
    margin-bottom: 0;
    padding-left: 0;
    display: none;

    @include min($nav-bp){
      display: flex;
      list-style: none;

      li{
        margin-right: spacer(3);
        display: block;
    
        @include last(1){
          margin-right: 0;
        }
      }
    }

    a{
      color: color(primary);
    }
  }

  &.is-active{
    .navigation-items{
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      background-color: color-gray(0);
      width: 100%;
      height: 100vh;

      li{
        margin-right: 0;

        a{
          font-size: font-size(4);
        }
      }
    }
  }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Navigation
//
// Styleguide Molecules.navigation

// ------------------------------
/////////////////////////////////
// ------------------------------

// Main navigation
//
// Resize me
//
// markup:
// <nav id="main-navigation" class="navigation">
//     <button class="burger"><span class="burger-icon"><span></span></span> Menu</button>
//     <ul class="navigation-items">
//         <li>
//             <a href="#">Home</a>
//         </li>
//         <li>
//             <a href="#">Shop</a>
//         </li>
//         <li>
//             <a href="#">Space Bears</a>
//         </li>
//         <li>
//             <a href="#">Mars Cars</a>
//         </li>
//         <li>
//             <a href="#">Contact</a>
//         </li>
//     </ul>
// </nav>
//
//
// Styleguide Molecules.navigation.mainnavigation