#skip-navigation {
  a {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;

    &:focus,
    &:active {
      color: color-gray(100);
      background-color: color-gray(0);
      top: 0;
      left: 0;
      width: auto;
      height: auto;
      overflow: auto;
      padding: spacer(3) spacer(5);
      border: 2px solid color-gray(20);
      text-align: center;
      font-size: font-size(heading4);
      z-index: z(skip-navigation);
    }
  }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Skip Navigation
//
// Tab from here to reveal the skip navigation.
//
// This navigation is needed for accessibility reasons. It allows the users using screen readers to go directly
// to the main content
//
// * https://www.w3.org/TR/WCAG20-TECHS/G1.html
// * https://a11yproject.com/posts/skip-nav-links/
//
// markup:
// <div id="skip-navigation">
//   <a href="#main-content">Skip to content</a>
//   <a href="#">Skip to navigation</a>
//   <a href="#">Accessibility settings</a>
// </div>
//
//
// Styleguide Molecules.navigation.skip