.kss-markdown {
  margin-top: spacer(8);

  @for $i from 1 through 6 {
    h#{$i} {
      color: color-gray(100);
      font-family: font-family(title);
      font-size: font-size($i);
      margin-bottom: spacer(1);
    }
  }

  h1,
  h2 {
    margin-top: spacer(8);
  }

  h3,
  h4 {
    margin-top: spacer(6);
  }

  h5,
  h6 {
    margin-top: spacer(4);
  }

  a {
    color: color(primary);

    &:hover,
    &:focus {
      color: color(primary);
      text-decoration: underline;
    }
  }

  code {
    background-color: color-gray(30);
    border-radius: 5px;
    padding-left: spacer(1);
    padding-right: spacer(1);
  }

  blockquote {
    background-color: color-gray(10);
    padding: spacer(3);
    border-left: spacer(2) solid color-gray(30);
    margin-bottom: spacer(3);
  }

  p {
    color: color-gray(100);
    font-family: font-family(paragraph);
    font-size: font-size(paragraph);
  }

  img{
    height: auto;
    max-width: 100%;
  }

  pre {
    margin: 0;
    padding: spacer(3);
    border-radius: 5px;
  }

  pre code,
  pre{
    background-color: color-gray(30);
  }
}
