// ------------------------------
// Import fonts
// ------------------------------
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url("https://fonts.googleapis.com/css?family=Lato");

// ------------------------------
// Sass Variables
// ------------------------------
$font-family-prefix: --font-family-;
$font-families: (
  paragraph: ("Lato", "Helvetica Neue", Arial, sans-serif),
  title: ("Rubik", "Helvetica Neue", Arial, sans-serif),
  highlight: ("Rubik", "Helvetica Neue", Arial, sans-serif),
  icon: ('icomoon')
);

// ------------------------------
// Set function
// ------------------------------
@function font-family($font-family, $true-val:false) {
  @if $use-css-var == true {
    @if $true-val == true {
      @return map-get($font-families, $font-family); //True Val
    } @else {
      @return var(#{$font-family-prefix}#{$font-family}); //CSS Var
    }
  } @else {
    @return map-get($font-families, $font-family); //Disabled CSS Var
  }
}

// ------------------------------
// Set root variables
// ------------------------------
@if $use-css-var == true {
  #{$root-default} {
    @each $name, $font-family in $font-families {
      #{$font-family-prefix}#{$name}: $font-family; //Not using em as not being use in media queries
    }
  }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Font Families
//
// Font Families are in the map `$font-families`
//
// ---------------
// * `paragraph`: Lato,
// * `title`: Rubik,
// * `highlight`: Rubik
// * `icon`: icomoon
// ---------------
//
// Font Families can be called in the sass project using the functions:
//
// `font-family($font-family, $true-val:false)` which will output by default the CSS variable
//
// Usage of font-family():
// * `font-family(title)` => `var(--font-family-title)` If $use-css-var = true
// * `font-family(title)` => `"Rubik", "Helvetica Neue", Arial, sans-serif` If $use-css-var = false
// * `font-family(title, true)` => `"Rubik", "Helvetica Neue", Arial, sans-serif`
//
// Styleguide Variables.fontfamilies