$textual-form-inputs-class: "
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="tel"],
  input[type="url"],
  input[type="text"],
  textarea,
  select,
  .input
";

$input-size: 22px;

input {
  cursor: pointer;
}

#{$textual-form-inputs-class} {
  display: block;
  border: 1px solid color-gray(50);
  padding: spacer(2);
  color: color(text);
  transition: border-color 0.3s ease-in-out;
  outline: none;
  width: 100%;

  &:hover {
    border-color: color-gray(60);
  }

  &:focus{
    border-color: color(primary);
    box-shadow:0 0 5px color(primary);
  }

  &::placeholder {
    color: color-gray(50);
  }
}

input[type="radio"],
input[type="checkbox"] {
    width: $input-size;
    height: $input-size;
}

.custom-input {
    input[type="checkbox"], input[type="radio"] {
        opacity: 0;
        margin: 0;
        width: 0;
        height: 0;

        &:checked {
            & ~ .custom-input-indicator {
                &:after {
                    width: $input-size - 10;
                    height: $input-size - 10;
                }
            }
        }

        &:focus {
            & ~ .custom-input-indicator {
                @include focus-style;
            }
        }
    }

    input[type="radio"] {
        & ~ .custom-input-indicator {
            border-radius: 50%;

            &:after {
                border-radius: 50%;
            }
        }
    }

    .custom-input-indicator {
        display: inline-block;
        width: $input-size;
        height: $input-size;
        background-color: color(light);
        border: 1px solid color(secondary);
        position: relative;
        cursor: pointer;
        margin-right: spacer(2);

        &:after {
            content: "";
            background-color: color(secondary);
            width: 0;
            height: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}
// ------------------------------
// KSS Documentation
// ------------------------------

// Form elements
//
// Styleguide Atoms.Forms

// ------------------------------
/////////////////////////////////
// ------------------------------

// Inputs
//
// Markup:
// <input type="email" name="test1" placeholder="email">
// <input type="number" name="test2" placeholder="number">
// <input type="password" name="test3" placeholder="password">
// <input type="tel" name="test4" placeholder="tel">
// <input type="text" name="test5" placeholder="text">
// <textarea></textarea>
// <input type="radio" name="test6" value="radio">
// <input type="checkbox" name="test7" value="checkbox">
// <label class="custom-input"><input type="radio" name="test8" value="radio"><span class="custom-input-indicator"></span></label>
// <label class="custom-input"><input type="checkbox" name="test9" value="checkbox"><span class="custom-input-indicator"></span></label>
// <select>
//   <option value="option1">option1</option>
//   <option value="option2">option2</option>
//   <option value="option3">option3</option>
//   <option value="option4">option4</option>
// </select>
//
// Styleguide Atoms.Forms.inputs