.is-d-none {
    display: none;
}

.is-d-block {
    display: block;
}

.is-d-inline-block {
    display: inline-block;
}

.is-d-inline {
    display: inline;
}

.is-d-flex {
    display: flex;
}

.is-d-inline-flex {
    display: inline-flex;
}

.is-d-grid {
    display: grid;
}

.is-d-inline-grid {
    display: inline-grid;
}

@each $bp, $bpKey in $breakpoints {
    @include min(#{bp(#{$bp})}) {
        .is-d-#{$bp}-none {
            display: none;
        }

        .is-d-#{$bp}-block {
            display: block;
        }

        .is-d-#{$bp}-inline-block {
            display: inline-block;
        }

        .is-d-#{$bp}-inline {
            display: inline;
        }

        .is-d-#{$bp}-flex {
            display: flex;
        }

        .is-d-#{$bp}-inline-flex {
            display: inline-flex;
        }

        .is-d-#{$bp}-grid {
            display: grid;
        }

        .is-d-#{$bp}-inline-grid {
            display: inline-grid;
        }
    }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Display utilities
//
// Display utilities helps to responsively toggle the display value of components.
//
// `.is-d-{breakpoint}-{display value}`, breakpoint is optional.
//
// **display value:**
//
// * none
// * block
// * inline-block
// * inline
// * flex
// * inline-flex
// * grid
// * inline-grid
//
// markup:
// <!--style="width: auto" for kss only-->
// <!--is-d-none-->
// <div class="is-d-none kss-box" style="width: auto">.is-d-none</div>
// <div class="is-d-none kss-box" style="width: auto">.is-d-none</div>
// <!--is-d-inline-->
// <div class="is-d-inline kss-box" style="width: auto">.is-d-inline</div>
// <div class="is-d-inline kss-box" style="width: auto">.is-d-inline</div>
// <!--is-d-block-->
// <div class="is-d-block kss-box" style="width: auto">.is-d-block</div>
// <div class="is-d-block kss-box" style="width: auto">.is-d-block</div>
// <!--is-d-inline-block-->
// <div class="is-d-inline-block kss-box" style="width: auto">.is-d-inline-block</div>
// <div class="is-d-inline-block kss-box" style="width: auto">.is-d-inline-block</div>
// <!--is-d-flex-->
// <div class="is-d-flex">
//   <div class="kss-box">parent .is-d-flex</div>
//   <div class="kss-box">parent .is-d-flex</div>
//   <div class="kss-box">parent .is-d-flex</div>
// </div>
// <!--is-d-inline-flex-->
// <div class="is-d-inline-flex">
//   <div class="kss-box">parent .is-d-inline-flex</div>
//   <div class="kss-box">parent .is-d-inline-flex</div>
// </div>
// <div class="is-d-inline-flex">
//   <div class="kss-box">parent .is-d-inline-flex</div>
//   <div class="kss-box">parent .is-d-inline-flex</div>
// </div>
// <!--is-d-grid at least col need to be set-->
// <div class="is-d-grid">
//   <div class="kss-box">parent .is-d-grid</div>
//   <div class="kss-box">parent .is-d-grid</div>
//   <div class="kss-box">parent .is-d-grid</div>
// </div>
// <!--is-d-inline-grid at least col need to be set-->
// <div class="is-d-inline-grid">
//   <div class="kss-box">parent .is-d-inline-grid</div>
//   <div class="kss-box">parent .is-d-inline-grid</div>
// </div>
// <div class="is-d-inline-grid">
//   <div class="kss-box">parent .is-d-inline-grid</div>
//   <div class="kss-box">parent .is-d-inline-grid</div>
// </div>
//
// Styleguide Atoms.Modifiers.display
