.img-fluid {
  height: auto;
  max-width: 100%;

  &.is-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// ------------------------------
// KSS Documentation
// ------------------------------

// Images
//
// `.img-fluid` Fluid images class, to center the image if this one is too small use `.is-center`
//
// Markup:
// <div style="max-width: 600px"> <!-- Just for KSS -->
//    <img class="{{modifier_class}}"
//     srcset="https://source.unsplash.com/random/320x320 320w,
//         https://source.unsplash.com/random/570x570 570w,
//         https://source.unsplash.com/random/860x860 860w,
//         https://source.unsplash.com/random/1150x1150 1150w"
//     src="https://source.unsplash.com/random/860x860"
//     alt="Alternative text">
//     <!--sizes="(min-width: 600px) 33vw, 100vw"--> <!--Use sizes in <img> to serve the right image size depending on the way it is display-->
// </div>
//
// .img-fluid - image is fluid
// .img-fluid.is-center - image is fluid and centered
//
// Styleguide Atoms.images

// ------------------------------
// //////////////////////////////
// ------------------------------

// Responsive image, Srcset (`img` tag)
//
// If the browser does not support `srcset` it will fallback to `src` (IE11) More infos => https://salferrarello.com/responsive-images-srcset/
//
// <p class="ciu_embed" data-feature="srcset" data-periods="future_1,current,past_1,past_2" data-accessible-colours="false">
// <a href="http://caniuse.com/#feat=srcset"> Can I Use srcset?</a> Data on support for the srcset feature across the major browsers from caniuse.com.
// </p>
//
// Markup:
// <div class="container">
//     <img class="img-fluid"
//     srcset="http://via.placeholder.com/320x150 320w,
//     http://via.placeholder.com/600x281 600w,
//     http://via.placeholder.com/900x422 900w,
//     http://via.placeholder.com/1200x563 1200w,
//     http://via.placeholder.com/1800x844 1800w"
//     src="http://via.placeholder.com/320x150?text=Fallback"
//     alt="image description">
//     <div class="grid has-cols-sm-3">
//         <div>
//             <img class="img-fluid"
//             srcset="http://via.placeholder.com/320x150 320w,
//             http://via.placeholder.com/600x281 600w,
//             http://via.placeholder.com/900x422 900w,
//             http://via.placeholder.com/1200x563 1200w,
//             http://via.placeholder.com/1800x844 1800w"
//             sizes="(min-width: 600px) 33vw, 100vw"
//             src="http://via.placeholder.com/320x150?text=Fallback"
//             alt="image description">
//         </div>
//         <div>
//             <img class="img-fluid"
//             srcset="http://via.placeholder.com/320x150 320w,
//             http://via.placeholder.com/600x281 600w,
//             http://via.placeholder.com/900x422 900w,
//             http://via.placeholder.com/1200x563 1200w,
//             http://via.placeholder.com/1800x844 1800w"
//             sizes="(min-width: 600px) 33vw, 100vw"
//             src="http://via.placeholder.com/320x150?text=Fallback"
//             alt="image description">
//         </div>
//         <div>
//             <img class="img-fluid"
//             srcset="http://via.placeholder.com/320x150 320w,
//             http://via.placeholder.com/600x281 600w,
//             http://via.placeholder.com/900x422 900w,
//             http://via.placeholder.com/1200x563 1200w,
//             http://via.placeholder.com/1800x844 1800w"
//             sizes="(min-width: 600px) 33vw, 100vw"
//             src="http://via.placeholder.com/320x150?text=Fallback"
//             alt="image description">
//         </div>
//     </div>
// </div>
//
// Styleguide Atoms.images.responsive